body{
    margin:0;
    font-family:Arial,sans-serif;
    background:linear-gradient(135deg,#4facfe,#00c6ff);
}

.container{
    width:430px;
    margin:40px auto;
    background:white;
    padding:30px;
    border-radius:20px;
    box-shadow:0 10px 30px rgba(0,0,0,.2);
}

h1{
    text-align:center;
    color:#007BFF;
}

h2{
    text-align:center;
    color:#555;
    font-size:20px;
    margin-bottom:25px;
}

label{
    display:block;
    margin-top:15px;
    font-weight:bold;
}

input,select{
    width:100%;
    padding:12px;
    margin-top:5px;
    border-radius:8px;
    border:1px solid #ccc;
    box-sizing:border-box;
}

button{
    width:100%;
    margin-top:25px;
    padding:14px;
    background:#007BFF;
    color:white;
    border:none;
    border-radius:10px;
    font-size:17px;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    background:#0056b3;
}