body{
    background:#f2f7ff;
    font-family:Arial;
    text-align:center;
    margin-top:40px;
}

form{
    background:white;
    width:350px;
    margin:auto;
    padding:25px;
    border-radius:12px;
    box-shadow:0px 0px 15px rgba(0,0,0,.2);
}

input,select{
    width:90%;
    padding:10px;
    border-radius:6px;
    border:1px solid #ccc;
}

button{
    width:95%;
    padding:12px;
    background:#007BFF;
    color:white;
    border:none;
    border-radius:8px;
    font-size:17px;
    cursor:pointer;
}

button:hover{
    background:#0056b3;
}