<!DOCTYPE html>
<html>
<head>
    <title>FitGenie AI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<body>

<div class="container">

<h1>🏋️ FitGenie AI</h1>
<h2>Your Personal AI Fitness Assistant</h2>

<form action="/calculate" method="POST">

<label>Name</label>
<input type="text" name="name" placeholder="Enter your name" required>

<label>Age</label>
<input type="number" name="age" placeholder="Enter your age" required>

<label>Height (cm)</label>
<input type="number" name="height" placeholder="Enter your height" required>

<label>Weight (kg)</label>
<input type="number" name="weight" placeholder="Enter your weight" required>

<label>Gender</label>

<select name="gender">
<option>Male</option>
<option>Female</option>
</select>

<label>Fitness Goal</label>

<select name="goal">
<option>Weight Loss</option>
<option>Weight Gain</option>
<option>Maintain Weight</option>
</select>

<button type="submit">Generate Fitness Plan</button>

</form>

</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>